body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./check.svg');
  background-size: 20vw;
}



.podcasts {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: 20vw;
}


.podcast-controls,
.podcast-control,
.podcast-icon {
  height: 20vw;
  width: 20vw;
}

.podcast-control,
.podcast-icon {
  list-style: none;
  cursor: pointer;
}

.podcast-icon img {
  height: 100%;
  width: 100%;
}

.podcast-controls {
  background: black;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
}

.podcast-control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  color: white;
}

.podcast-control.play {
  background: green;
}

.podcast-control.stop {
  background: red;
}

.podcast-control.time {
  background: orange;
}

@media screen and (min-width: 500px) {
  .podcasts {
    padding-bottom: 16.666vw;
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon {
    height: 16.666vw;
    width: 16.666vw;
  }

  .podcast-controls {
    width: 100vw;
  }
}

@media screen and (min-width: 700px) {
  .podcasts {
    padding-bottom: 14.285vw;
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon {
    height: 14.285vw;
    width: 14.285vw;
  }

  .podcast-controls {
    width: 100vw;
  }
}

@media screen and (min-width: 900px) {
  .podcasts {
    padding-bottom: 12.5vw;
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon {
    height: 12.5vw;
    width: 12.5vw;
  }

  .podcast-controls {
    width: 100vw;
  }
}

@media screen and (min-width: 1100px) {
  .podcasts {
    padding-bottom: 10vw;
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon {
    height: 10vw;
    width: 10vw;
  }

  .podcast-controls {
    width: 100vw;
  }
}

@media screen and (min-width: 1300px) {
  .podcasts {
    padding-bottom: 8.333vw;
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon {
    height: 8.333vw;
    width: 8.333vw;
  }

  .podcast-controls {
    width: 100vw;
  }
}
