body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./check.svg');
  background-size: calc(100vw / 2.5);
}

.podcasts {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-bottom: calc(100vw / 5);
}

.podcast-controls,
.podcast-control,
.podcast-list-item,
.podcast-icon,
.podcast-list-item img,
.podcast-icon img {
  height: calc(100vw / 5);
  width: calc(100vw / 5);
}

.podcast-list-item {
  width: 100vw;
  display: flex;
}

.podcast-info {
  flex-grow: 2;
  text-align: left;
}

.podcast-control,
.podcast-icon {
  list-style: none;
  cursor: pointer;
}

.podcast-controls {
  background: black;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100vw;
}

.podcast-control {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6vw;
  color: white;
}


.podcast-info,
.podcast-control.info {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-grow: 2;
  padding-left: 20px;
}


.podcast-list-item > p,
.podcast-control.info > p {
  margin: 0;
  text-align: left;
  white-space: nowrap;
}

.podcast-control.play {
  background: green;
}

.podcast-control.stop {
  background: red;
}

.podcast-control.time {
  background: orange;
}

@media screen and (min-width: 500px) {
  body {
    background-size: calc(100vw / 3);
  }

  .podcasts {
    padding-bottom: calc(100vw / 6);
  }

  .podcast-controls,
  .podcast-control,
  .podcast-list-item,
  .podcast-icon,
  .podcast-list-item img,
  .podcast-icon img {
    height: calc(100vw / 6);
    width: calc(100vw / 6);
  }

  .podcast-list-item,
  .podcast-controls {
    width: 100vw;
  }
}

@media screen and (min-width: 700px) {
  body {
    background-size: calc(100vw / 3.5);
  }

  .podcasts {
    padding-bottom: calc(100vw / 7);
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon,
  .podcast-list-item,
  .podcast-list-item img,
  .podcast-icon img {
    height: calc(100vw / 7);
    width: calc(100vw / 7);
  }

  .podcast-controls,
  .podcast-list-item {
    width: 100vw;
  }
}

@media screen and (min-width: 900px) {
  body {
    background-size: calc(100vw / 4);
  }

  .podcasts {
    padding-bottom: calc(100vw / 8);
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon,
  .podcast-list-item,
  .podcast-list-item img,
  .podcast-icon img {
    height: calc(100vw / 8);
    width: calc(100vw / 8);
  }

  .podcast-controls,
  .podcast-list-item {
    width: 100vw;
  }
}

@media screen and (min-width: 1100px) {
  body {
    background-size: calc(100vw / 5);
  }

  .podcasts {
    padding-bottom: calc(100vw / 10);
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon,
  .podcast-list-item,
  .podcast-list-item img,
  .podcast-icon img {
    height: calc(100vw / 10);
    width: calc(100vw / 10);
  }

  .podcast-controls,
  .podcast-list-item {
    width: 100vw;
  }
}

@media screen and (min-width: 1300px) {
  body {
    background-size: calc(100vw / 6);
  }

  .podcasts {
    padding-bottom: calc(100vw / 12);
  }

  .podcast-controls,
  .podcast-control,
  .podcast-icon,
  .podcast-list-item,
  .podcast-list-item img,
  .podcast-icon img {
    height: calc(100vw / 12);
    width: calc(100vw / 12);
  }

  .podcast-controls,
  .podcast-list-item {
    width: 100vw;
  }
}
