body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.podcasts {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.podcast-icon {
  height: 20vw;
  width: 20vw;
  list-style: none;
  background: blue;
  cursor: pointer;
}

.podcast-icon img {
  height: 100%;
  width: 100%;
}