body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.podcasts {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.podcast-icon {
  height: 25vw;
  list-style: none;
  width: 25vw;
  background: blue;
}

.podcast-icon img {
  height: 100%;
  width: 100%;
}